<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Configuración del Bot de Telegram (Reemplazar con datos reales) -->
    <add key="TelegramBotToken" value="8673400924:AAGvEfGFbsxbBzsFNxMGdrDI0wF5PpPFcv0" />
    <!-- Intervalo de ejecución en milisegundos (ej: 10000ms = 10s) -->
    <add key="IntervaloNotificacionesMs" value="10000" />
    <add key="IntervaloChatBotMs" value="5000" />
  </appSettings>
</configuration>
